
.link{
  color: #333;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 15px;

  &:hover{
    opacity: 0.75;
  }

  &.active{
    color: #000;
    text-decoration: underline;
  }
}

.games-list {
  flex-grow: 1;

  .container {
    justify-content: center;
  }
}

.game-card {
  max-width: 320px;
  .media {
    object-fit: cover;

    max-height: 320px;

  }
}


.game-data {
  flex-grow: 1;
  align-content: center;

}

.game-detail-card {
  max-width: 500px;
  align-items: center;
  .media {
    object-fit: cover;
  }

}



.games-list-item {
  flex-grow: 1;
  align-content: center;

  .paper {
    padding: inherit;
    margin: auto;
    max-width: 500px;
  }

  .image {
    width: auto;
    height: auto;
  }

  .img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  .action {
    cursor: pointer;
  }
}


.game-edit-field {
  flex-grow: 1;
  align-content: center;
  width: 350px;


}